:root {
  --form-wrapper-color: #f4f5f9;
  --form-section-color: #fafafc;
  --form-input-box: #f4f4f9;
  --form-border: #CCC;
  --btn-wrapper-signin: #fed83a;
  --btn-text-color: #183a85;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  border: none;
}

.image-cover {
  height: 100%;
  width: 61%;
  border-radius: 1rem 0 0 1rem;
  position: relative;
  overflow: hidden;
}

.image-cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 0 0 1rem;
  transform: scale(1.2);
}

.image-cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(144, 185, 247, 0.6), 
                            rgba(29, 78, 216, 0.6));
  border-radius: 1rem 0 0 1rem;
  pointer-events: none;
  opacity: 0.5;
}

.form-wrapper {
  height: 100%;
  width: 40%;
  background-color: var(--form-wrapper-color);
  border-radius: 0 1rem 1rem 0;
  padding: 2rem;
}

.login-title {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primary);
}
.login-title img {
  height: 50px;
  margin-right: 1rem;
}

.form-section {
  height: 80%;
  background-color: var(--form-section-color);
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
}

.login-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.text-field-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  height: 40px;
  border: 1px solid var(--form-border);
  border-radius: 0.25rem;
  background-color: var(--form-input-box);
}

.text-field-wrapper input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding-left: 0.25rem;
}

.text-field-wrapper img {
  margin: 0 0.25rem;
}

.forgot-pass {
  display: flex;
  justify-content: end;
  text-decoration: none;
  width: 100%;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  justify-content: center;
}
#buttons-section a { text-decoration: none; }
.sign-in-wrapper button {
  background-color: var(--btn-wrapper-signin);
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.btn-wrapper button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-wrapper button:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* CREATE ACCOUNT CSS */
.create-account-form {
  border-radius: 1rem 0 0 1rem;
}
.create-account-image {
  border-radius: 0 1rem 1rem 0;
}

.next-btn {
  display: flex;
  justify-content: end;
  width: 100%;
}

#go-to-selection-btn {
  width: 20%;
  background: none;
  border: none;
  color: var(--btn-text-color);
}
#go-to-selection-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

#buttons-section-acc {
  display: flex;
  justify-content: center;
}
#buttons-section-acc input {
  border: none;
  background: none;
  margin-left: 0.25rem;
  color: var(--btn-text-color);
}
#buttons-section-acc input:hover {
  text-decoration: underline;
  cursor: pointer;
}

.breadcrumbs, #buttons-section-acc, #buttons-section-acc input {
  font-size: 12px;
  margin-bottom: 0.5rem;
}

#selection-section {
  display: flex;
  flex-direction: row;
}

.selections, .text-fields {
  width: 100%;
  height: 40px;
  border: 1px solid var(--form-border);
  border-radius: 0.25rem;
  background-color: var(--form-input-box);
}

.selections {
  margin-bottom: 1rem;
}

.back-btn {
  display: flex;
  justify-content: start;
  width: 100%;
}

.back-btn input {
  width: 20%;
  background: none;
  border: none;
  color: var(--btn-text-color);
  margin-bottom: 0.5rem;
}

.back-btn input:hover {
  cursor: pointer;
  text-decoration: underline;
}

.create-btn {
  display: flex;
  border: none;
  width: 100%;
  background-color: var(--btn-wrapper-signin);
  height: 40px;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.create-btn:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}